@charset "UTF-8";

@font-face {
    font-family:'Louis George Cafe Bold';
    src: url(fonts/Louis\ George\ Cafe\ Bold.ttf) format('truetype');}

@font-face {
    font-family: 'Louis George Cafe';
    src: url(fonts/Louis\ George\ Cafe.ttf) format('truetype');
}

@font-face {
    font-family:'Louis George Cafe Light';
    src: url(fonts/Louis\ George\ Cafe\ Light.ttf) format('truetype');
}


:root 
{
    --cor1:#000000;
    --cor2:#030633;
    --cor3:#031B33;
    --cor4:#2A0333;
    --cor5:#33041D;
    --fonte-titulo:'Louis George Cafe Bold';
    --fonte-padrao:Arial, Verdana, Helvetica,sans-serif; 
    --fonte-subtitulo:'Louis George Cafe';
    --fonte-rodape:'Louis George Cafe Light';
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
   
}

body{background-color:rgba(27, 6, 6, 0.212);}


header >h1 {
    text-align: center;
    color: white;
    padding: 70px;
    font-family: var(--fonte-titulo);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.219);
    

}

header{
    background-image: linear-gradient(to bottom, var(--cor1), rgba(12, 12, 12, 0.568));

}
    
nav{
    padding: 10px;
    font-weight: bold;
    color: white;
    display: block;
    margin: 0px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.562);
    text-align: center;
    

}

nav > a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    padding: 10px;
    
}

nav > a:hover{
    color: #000000;
    background-color: #00000033;
    border-radius: 10px;
    
}

main{
    min-width:280px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 2em;
    border-radius:0px 0px 30px 30px;
    
}

main p{
    text-align: justify;
    font-size: 1em;
    margin: 15px 0px;
    line-height: 2em;
    text-indent: 30px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.123);
}
    

main h2{
    font-family: var(--fonte-subtitulo);
    font-size: 1.8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.144);
    }

    main img{
        max-width: 100%;
        margin: auto;
    }

    main img.pequena{
        display: block;
        margin: auto;
        max-width: 350px;
    }

    aside{
        display: block;
        
    }


    footer{
        text-align: center;
        font-family:var(--fonte-rodape);
        background-color: #00000083;

    }